services:
  hep-lab:
    build: .
    container_name: hep_dev_env
    volumes:
      - .:/app
    working_dir: /app
    stdin_open: true
    tty: true
    # --- Configuración de Aceleración por GPU (En reserva) ---
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
